/* Global Styles */

body {
  margin: 5mm 5mm 5mm 5mm;
  background-color: #fff;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

h3 {
    text-align: right;
}
/* Styles Tabla Nomina */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid black;
}

table {
    border:0px solid black;
}

table {
    width: 100%;
}

th {
    height: 10px;
}
td {
    height: 20px;
    vertical-align: bottom;
}

th {
    text-align: left;
}

th, td {
    padding: 15px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;

}

tr:hover {background-color: #f5f5f5}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #AF3E2B;
    color: white;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 60px; height: 70px;
}